
# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Other
.DS_Store
dist
.git
.env

# Log files
*.log

# Webstorm Files
.idea

# Environment Vars
.env.*
.env

# docker
docker/secrets
